/*
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
  background: url("../images/bg.jpg") repeat;
}

/* COLORS
--------------------------------------------------*/

a {
  color: $accent-shade;
}

.bg-inverse {
  background: $primary-shade !important;
}

.site-footer {
  background: $accent-shade !important;
}

.menu--main li a {
  color: $primary-shade;
}

.menu--account li a {
  color: $primary-shade;
}

.site-name-slogan a {
  text-decoration: none;
}

.card-group img {
  margin: 0;
  width: 100%;
  height: auto;
}

.card-group .field--type-image {
  margin: 0
}

.slick {
  width: 100%;
}

.slick > div {
  margin: 0 15px;
}

.field--name-field-media-oembed-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
